<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>boardWriteForm</title>
</th:block>


<th:block layout:fragment="customScript">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- 섬머노트 에디터 css, js Start -->

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<script src="summernote/lang/summernote-ko-KR.js"></script>
<!-- 섬머노트 에디터 css, js End -->
<script type="text/javascript">

	$(document).ready(function() {
	    $('#summernote').summernote({
	            height: 500,                 // set editor height
	            minHeight: null,             // set minimum height of editor
	            maxHeight: null,             // set maximum height of editor
	            focus: true,
	            lang: 'ko-KR'// set focus to editable area after initializing summernote
	    });
	    
	    // 게시글 등록
	    $('#boardInsertBtn').click(function(){
	    	var boardCategory = $('[name=boardCategory]')
	    	var boardTitle = $('[name=boardTitle]')
	    	var boardContentText = $('[name=boardContentText]')
	    	
	    	console.log(boardCategory);
	    	console.log(boardTitle);
	    	console.log(boardContentText);
	    	
	    	if(boardCategory.val() == '카테고리 선택'){
	    		alert('카테고리를 선택해 주세요.');
	    		boardCategory.focus();
	    		
	    	}else if(boardTitle.val() == ''){
	    		alert('제목을 입력해 주세요.');
	    		boardTitle.focus();
	    		
	    	}else if(boardContentText.val() == ''){
	    		alert('내용을 입력해 주세요.');
	    		boardContentText.focus();
	    	}else{
	    		$('#boardInsertForm').submit();
	    	}

	    	
	    })
	    
	    // 게시글 등록 취소
	    $('#cancleBtn').click(function(){
	    	history.back()
	    	
	    	
	    })
	    
	    
	});

</script>
</th:block>

<th:block layout:fragment="customContents">
	
		
	<!-- 게시판 페이지 헤더 Start -->
	<div class="col-md-12">

	<div class="page-header" >
       <div class="row align-items-end">
           <div class="col-lg-8">
               <div class="page-header-title">
                   <i class="ik ik-credit-card bg-blue"></i>
                   <div class="d-inline">
                       <h5>그룹웨어</h5>
                       <span>(주)한국 스마트 정보 교육원</span>
                   </div>
               </div>
           </div>
           <div class="col-lg-4">
               <nav class="breadcrumb-container" aria-label="breadcrumb">
                   <ol class="breadcrumb">
                       <li class="breadcrumb-item">
                           <a href="/"><i class="ik ik-home"></i></a>
                       </li>
                       <li class="breadcrumb-item">
                           <a href="/boardList">게시판</a>
                       </li>
                       <li class="breadcrumb-item active" aria-current="page">글쓰기</li>
                   </ol>
               </nav>
          </div>
       	</div>
      </div>
      
       <!-- 글쓰기 폼 Start -->
          <div style="margin: 25px 0 0 0">
          
              <form action="/boardInsert" id="boardInsertForm" class="forms-sample" method="post" enctype="multipart/form-data">
              
              	  <!-- 카테고리 선택 -->
                  <div class="row">
                      <div class="col-md-3">
                          <div class="form-group">
                              <label for="exampleSelectGender">구분</label>
                              <select name="boardCategory" class="form-control" id="exampleSelectGender">
                              		<option>카테고리 선택</option>
                              		<option value="공지">공지</option>
                                  	<th:block th:each="d:${departList}">
				                		<option th:value="${d.departList}">[[${d.departList}]] </option>
				                		
                					</th:block>
                              </select>
                          </div>
                      </div>
                  </div>
                  
                  <!-- 제목 입력 -->
                  <div class="row">
                      <div class="col-md-8">
                          <div class="form-group">
                              <label for="exampleInputPassword4">제목</label>
                      <input id="boardTitle" name="boardTitle" type="text" class="form-control" placeholder="게시글 제목을 입력하세요">
                      
                          </div>
                      </div>
                  </div>
                  
                  <!-- 파일 첨부 -->
                  <div class="row">
                  
	                  <div class="file-group-div form-group col-md-5" >
	                  
						  <!-- 파일 첨부 안내 -->
	                      <label>
	                      
		                      	파일 첨부
	                      		 
		                      	<span style="color:#919191;">ㅣ</span>
		                      	
		                      	최대 5MB
		                      	
		                      	<span style="color:#919191;">까지 파일을 올리실 수 있습니다.</span>
		                      	
	                      </label>
	                      
	                      	<button type="button" class="file-add-btn btn btn-outline-dark btn-xs">파일 추가</button>
							
						  <!-- 파일 input 그룹 -->
	                      <div class="file-input-group input-group col-xs-5">
	                      
	                      	  <input type="file" name="file" class="file-upload-default"/>
	                          <input type="text" class="form-control file-upload-info" placeholder="선택된 파일이 없습니다." readonly="readonly">
	                          
	                          <a class="file-upload-cancle" href="#" style="padding:0;">
	                          	<i class="ik ik-x-square" style="color: red;"></i>
	                          </a>
	                          
	                          <div style="width:20px;"></div>
	                          
	                          <span class="input-group-append">
	                          	<button class="file-upload-browse btn btn-primary" type="button">파일 선택</button>
	                          </span>
	                          
	                          <input type="hidden" class="fileSizeCheck">
	                          
	                      </div>
	                        
	                  </div>
	                  
                  </div>
                  
                  <!-- 내용 입력 섬머노트 에디터 -->
                  <div class="row">
	                  <div class="form-group col-md-12">
	                      <label for="exampleTextarea1">내용</label>
	                      <textarea name="boardContentText" id="summernote" ></textarea>
	                  </div>
                  </div>
                  
              </form>
                  <button id="cancleBtn" class="btn btn-light float-md-right">취소</button>
                  <button id="boardInsertBtn" type="button" class="btn btn-primary mr-2 float-md-right">확인</button>
          </div>
      <!-- 글쓰기폼 End -->
 
   </div>
   
   
	
   
	 
	
</th:block>
<th:block layout:fragment="customJs">

	<script>window.jQuery || document.write('<script src="src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
	<script src="plugins/popper.js/dist/umd/popper.min.js"></script>
	<script src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
	<script src="plugins/screenfull/dist/screenfull.js"></script>
	<script src="plugins/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script
		src="plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
	<script src="plugins/jvectormap/jquery-jvectormap.min.js"></script>
	<script src="/js/form-components-file.js"></script>
	
	<script src="plugins/moment/moment.js"></script>
	
	<script src="plugins/d3/dist/d3.min.js"></script>
	<script src="plugins/c3/c3.min.js"></script>
	<script src="js/tables.js"></script>
	<script src="js/widgets.js"></script>
	<script src="js/charts.js"></script>
	<script src="dist/js/theme.js"></script>
	<script src="js/jquery-jvectormap-2.0.5.min.js"></script>
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
	    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	    e.src='https://www.google-analytics.com/analytics.js';
	    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
	</script>
</th:block>

</html>
