<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!--
   @file allOngoingDocumentList.html
   @brief 결재 진행중인 문서 전체 view
   @author 김건훈
 -->	
		<!-- CSS custom -->
		<th:block layout:fragment="customCss">
			<link rel="stylesheet" href="dist/css/electronicApproval/electronicApproval.css">
			<link rel="stylesheet" href="icheck/skins/square/blue.css">
		</th:block>
		
		<th:block layout:fragment="customTitle">
		<title>결재 진행 중인 전체 문서 목록</title>
		</th:block>
	
		<!--  Script custom -->
		<th:block layout:fragment="customScript">
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script src="icheck/icheck.min.js"></script>
			<script type="text/javascript">

				$(function(){
				
					 /*
					  * @brief 결재 진행중인 전체 문서 목록 page 물음표 아이콘 Modal Event
					  * @author 김건훈
					  */	
					$('.ik-help-circle').on('mouseover',function(e){
			 
						var divLeft = e.pageX - 150
						var divTop = e.pageY - 50
						
						$('.ruletip').css({display:"block", "top": divTop, "left": divLeft});
						
						$(this).css("color","black");
					});
					
					$('.ik').on('mouseleave',function(){
						
						$('.ruletip').css("display","none");
						$(this).css("color","#bcc8d8");
					});
					
					
					/*
					  * @brief 검색창 드롭다운 검색키워드 변경 이벤트
					  * @author 김건훈
					  */	
					$('.dropdown-item').on('click',function(){
						//console.log('드롭다운버튼클릭');
						var searchType = $(this).text();
						var tag = "<i class=\"ik ik-chevron-down mr-0 align-middle\"></i>";
						//console.log(searchType);
						$(this).parent().siblings('.dropdown-toggle').text(searchType);
						$(this).parent().siblings('.dropdown-toggle').append(tag);
					});
					
					/*
					  * @brief icheck plug-in 사용
					  * @author 김건훈
					  */

					$(".ea-icheck").iCheck({

						checkboxClass: 'icheckbox_square-blue'

					});
					 
					 //페이지 로딩 시 체크박스 체크 초기화
					$('#all-ea-checkbox,.ea-checkbox').iCheck('uncheck');
					
					 /*
					  * @brief 각각 체크박스 체크 이벤트
					  * @author 김건훈
					  */

					  $('.ea-checkbox').on('ifChecked', function(event){
						  //console.log('체크박스클릭');
						  var checkCount  = $('.ea-checkbox:checked').length;
						  //console.log(checkCount);
							  if(checkCount == 2){							
								 	 $('#all-ea-checkbox').iCheck('check');
							  }else{
								  	 $('#all-ea-checkbox').iCheck('uncheck');
							  }
							  
							  if(checkCount>0){
									$('.table-row-delete-nav').css('visibility','visible')
			 					}else{
									$('.table-row-delete-nav').css('visibility','hidden')
			 					}
						  });
					
					  $('.ea-checkbox').on('ifUnchecked', function(event){
						  //console.log('체크박스클릭');
						  var checkCount  = $('.ea-checkbox:checked').length;
						  //console.log(checkCount);
							  if(checkCount == 2){							
								 	 $('#all-ea-checkbox').iCheck('check');
							  }else{
								  	 $('#all-ea-checkbox').iCheck('uncheck');
							  }
							  
							  if(checkCount>0){
									$('.table-row-delete-nav').css('visibility','visible')
			 					}else{
									$('.table-row-delete-nav').css('visibility','hidden')
			 					}
						  });
					  
					 
					
					
					 /*
					  * @brief 전체 체크박스 체크 이벤트
					  * @author 김건훈
					  */
					  
					  $('#all-ea-checkbox').on('ifChecked', function(event){
						  
						  var checkCount  = $('.ea-checkbox:checked').length;
						  	 	
						  $('.ea-checkbox').iCheck('check');

					  });
					
						
					  $('#all-ea-checkbox').on('ifUnchecked', function(event){
						 
						  var checkCount  = $('.ea-checkbox:checked').length;
						  
						  if(checkCount == 2){
						 		
							  $('.ea-checkbox').iCheck('uncheck');
						  }
					  });
					  
					  
					  /*
					   * @brief 상세보기 화면으로 이동 Event
					   * @author 김건훈
					   */
					   $('.ongoing-document-content').click(function(){
						  //console.log('tr 클릭 이벤트'); 
						  var docType = $(this).find('.ongoing-document-type').text();
						  //console.log(docType);
						  $(location).attr('href','/selectOngoingDocumentDetail?docType='+docType);
					   });
					  
				});
			</script>
		</th:block>
		<th:block layout:fragment="customContents"> 
						<div class="page-header">
					       <div class="row align-items-end">
					           <div class="col-lg-8">
				               <div class="page-header-title">
							   	<i class="ik ik-file-text bg-blue"></i>
								   <div class="d-inline">
									 <h5>결재 중인 문서 전체</h5>
									 <span>결재 진행 중인 모든 문서가 쌓이는 곳입니다.</span>
								   </div>
								</div>
					           </div>
					           <div class="col-lg-4">
					               <nav class="breadcrumb-container" aria-label="breadcrumb">
					                   <ol class="breadcrumb">
					                       <li class="breadcrumb-item">
					                           <a th:href="@{/index}"><i class="ik ik-home"></i></a>
					                       </li>
					                       <li class="breadcrumb-item">진행 중인 문서</li>
					                       <li class="breadcrumb-item active" aria-current="page">전체</li>
					                   </ol>
					               </nav>
					           </div>
					       </div>
					   </div>                   
		               <div class="card">
		              	  <!-- 결재 진행중인 전체 문서 목록 테이블 상단 메뉴탭 Start-->
			                 <div class="card-header ea-card-header"><h3>결재 진행 중인 전체 문서 목록<i class="ik ik-help-circle"></i></h3></div>
	                      <!-- 결재 진행중인 전체 문서 목록 테이블 상단 메뉴탭 End-->
                                <!-- 결재 진행중인 전체 문서 목록 검색창 Start -->
                                   <div class="card-block">
                                   <div class="table-nav">
                                   		<ul class="nav table-row-delete-nav" >
		                                    <li class="nav-item">
		                                    	<button type="button" class="btn btn-outline-primary">결재</button>
		                                    </li>
		                                    <li class="nav-item">
		                                    	<button type="button" class="btn btn-outline-primary">확인</button>
		                                    </li>
		                                </ul>
                                   <div class="collapse d-md-block display-options float-md-right" id="displayOptions">
                                        <div class="d-block d-md-inline-block">
                                            <div class="btn-group float-md-left mr-1 mb-1">
                                                <button class="btn btn-outline-dark btn-xs dropdown-toggle search-keyword-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    		진행 상태<i class="ik ik-chevron-down mr-0 align-middle"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                	<a class="dropdown-item">모든 문서</a>
                                                    <a class="dropdown-item">대기</a>
                                                    <a class="dropdown-item">예정</a>
                                                    <a class="dropdown-item">진행</a>
                                                    <a class="dropdown-item">확인</a>
                                                </div>
                                            </div>
                                            <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                                <form action="">
                                                    <input type="text" class="form-control" placeholder="검색" required>
                                                    <button type="submit" class="btn btn-icon"><i class="ik ik-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                     </div>
                                    </div>
                               <!-- 결재 진행중인 전체 문서 목록 검색창 End -->
                               <!-- 결재 진행중인 전체 문서 목록 테이블 Start -->
                                        <div class="table-responsive">
                                            <table class="table mb-0 table-hover ea-table">
                                                <thead>
                                                    <tr>
                                                    	<th>
                                                    		<input type="checkbox" class="ea-icheck" id="all-ea-checkbox">                                                	
                                                    	</th>
                                                        <th>문서 번호</th>
                                                        <th>제목</th>
                                                        <th>기안자</th>
                                                        <th>기안일</th>
                                                        <th>구분</th>
                                                        <th>상태</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="ongoing-document-content">
                                                    	<td> 
                                                    		<input type="checkbox" class="ea-icheck ea-checkbox">
                                                    	</td>
                                                        <td>프로젝트사업기획-20200216-0001</td>
                                                        <td>그룹웨어 프로젝트 사업기획서</td>
                                                        <td>김건훈</td>
                                                        <td>2020-02-16</td>
                                                     	<td class="ongoing-document-type">기안</td>
                                                     	<td>진행</td>                                                                                   
                                                    </tr> 
                                                    <tr class="ongoing-document-content">
                                                    	<td> 
                                                    		<input type="checkbox" class="ea-icheck ea-checkbox">
                                                    	</td>
                                                        <td>프로젝트완료보고-20200316-0002</td>
                                                        <td>그룹웨어 프로젝트 완료보고서</td>
                                                        <td>김건훈</td>
                                                        <td>2020-03-16</td>
                                                     	<td class="ongoing-document-type">결재</td>
                                                        <td>대기</td>
                                                    </tr>                                                                                                         
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="contents-quantity">문서 수 : 2</span>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination mb-0 pagination-btn-group">
                                                <li class="page-item">
                                                    <a class="page-link first" href="#">
                                                        <i class="ik ik-chevrons-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link prev" href="#">
                                                        <i class="ik ik-chevron-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">4</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">5</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link next" href="#" aria-label="Next">
                                                        <i class="ik ik-chevron-right"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link last" href="#">
                                                        <i class="ik ik-chevrons-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                 <!-- 결재 진행중인 전체 문서 목록 테이블 End -->                               
                        		</div>	                              
	                      
	                      <!-- 결재 진행중인 전체 문서 목록 page modal view Start --> 
	                        <div class="modal-dialog modal-sm mt-0 mb-0 ruletip" role="document">
					        	<div class="modal-content">
                               		 <div class="modal-body">
                                   		 <p>접속한 사용자와 연관된 기안문서들 중 결재 진행 중인 모든 문서들이 구분,상태 와 관계없이 쌓이는 곳 입니다. 처리 해야 할 문서들을 체크하여 일괄 결재 처리 및 회람,참조,수신 일괄 확인 처리가 가능합니다. </p>
                                	 </div>
                           		 </div>
                           	</div>
                           <!-- 결재 진행중인 전체 문서 목록 page modal view End -->                                    	
	</th:block>

	<th:block layout:fragment="customJs">        
        <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
        <script src="/plugins/popper.js/dist/umd/popper.min.js"></script>
        <script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="/plugins/screenfull/dist/screenfull.js"></script>
        <script src="/plugins/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/plugins/summernote/dist/summernote-bs4.min.js"></script>
        <script src="dist/js/theme.js"></script>
        <script src="/js/layouts.js"></script>
	</th:block>
</html>