<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 새로운 대화방 생성 Modal Start-->
	<div class="modal fade show" id="invite-user-modal" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal mt-0 mb-0 modal-dialog-centered" role="document">
 			<div class="modal-content">
 				
 				<!-- 모달 헤더 Start-->
	    		<div class="modal-header" style="padding-bottom: 0px;">
	    		
	    			<div class="row">
	    			
	    				<div class="col-md-12">
			          		<h6 class="modal-title f-16">대화상대 초대</h6>
			          	</div>
			          	
	    			</div>
	    			
	      		</div>
	      		<!-- 모달 헤더 End-->
	      		
		      	<div class="modal-body">
		      		
		      		<!-- 사용자 선택시 네임태그 생성 Start -->
	      			<form action="">
                         <div class="name-tag-area">
	                         
	                         <div class="name-tag name-tag-clone" style="display:none;">
		                         <a href="#" class="badge badge-light mb-1" style="position: relative; width: 60px;">
		                         	<img src="" alt="user image" class="tag-user-image rounded-circle img-40 align-top mr-15">
		                         	<i class="ik ik-x"></i>
		                         	<span class="tag-user-name"></span>
		                         	<input type="hidden" class="tag-index">
		                         </a>
	                         </div>
	                  
                         </div>
                         
                     </form>
		      		<!-- 사용자 선택시 네임태그 생성 End -->
		      		
		      		<!-- 사용자 선택 라디오박스  Start-->
	  		  		<div class="form-radio row chat-radio-user-choice">
		                <form>
		                	<div class="chat-radio-group row">
		                	
			                	<div class="chat-radio-group-header col-md-12"> 
			                		<span class="f-14 chat-radio-group-name">경영지원부</span> 
			                	</div>
			                	
			                	<div class="radio radio-inline radio chat-radio-user col-md-12">
			                        <label>
			                            <input type="checkbox" name="radio-check" class="chat-check-btn">
			                        	<img src="../messenger/img/pengsu2.jpg" alt="user image" class="chat-radio-user-image rounded-circle img-40 align-top mr-15">
			                        	<span class="chat-radio-user-group">경영지원부 개발1팀 </span>
			                            <span class="chat-radio-user-name">이원준</span>
			                            <i class="helper"></i>
			                            
			                        </label>
			                  	</div>
			                  	<div class="radio radio-inline radio chat-radio-user col-md-12">
			                        <label>
			                            <input type="checkbox" name="radio-check" class="chat-check-btn">
			                        	<img src="../messenger/img/pengsu2.jpg" alt="user image" class="chat-radio-user-image rounded-circle img-40 align-top mr-15">
			                        	<span class="chat-radio-user-group">경영지원부 개발1팀 </span>
			                            <span class="chat-radio-user-name">김건훈</span>
			                            <i class="helper"></i>
			                            
			                        </label>
			                  	</div>
			                  	
			                  	
			                  	
		                	</div>
		                	
		                	<div class="chat-radio-group row">
		                	
			                	<div class="chat-radio-group-header col-md-12"> 
			                		<span class="f-14 chat-radio-group-name">마케팅부</span> 
			                	</div>
			                	
			                	<div class="radio radio-inline radio chat-radio-user col-md-12">
			                        <label>
			                            <input type="checkbox" name="radio-check" class="chat-check-btn">
			                        	<img src="../messenger/img/pengsu2.jpg" alt="user image" class="chat-radio-user-image rounded-circle img-40 align-top mr-15">
			                        	<span class="chat-radio-user-group">마케팅부 개발1팀 </span>
			                            <span class="chat-radio-user-name">김연지</span>
			                            <i class="helper"></i>
			                           
			                        </label>
			                  	</div>
			                	
			                  	
		                	</div>
		               
		                  	
		                </form>
		            </div>
		            <!-- 사용자 선택 라디오박스  End-->
	        
		       </div>
	       
		       <div class="modal-footer">
		           <button type="button" class="btn btn-primary" data-dismiss="modal" id=approverAddBtn>확인</button>
		           <button type="button" class="btn btn-secondary" data-dismiss="modal" id=approverCancelBtn>취소</button>
		       </div>
	       
	   		</div>
	  	</div>
	</div>  
	<!-- 새로운 대화방 생성 Modal End-->