<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="modal fade edit-layout-modal" id="editLayoutItem"
		tabindex="-1" role="dialog" aria-labelledby="editLayoutItemLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editLayoutItemLabel">프로젝트 수정</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="pr-update-modal card-body">
							<form class="forms-sample" method="post">
								<div class="form-group">
									<label for="projectTitle">제목</label> <input type="text"
										class="form-control" id="updateTitle" name="projectTitle" th:value="${resultProject.projectTitle}">
								</div>
								<div class="form-group">
									<label for="projectDesc">설명(선택사항)</label> <input type="text"
										class="form-control" id="updateDesc" name="projectDesc" th:value="${resultProject.projectDesc}">
								</div>
								<div class="form-group">
									<label for="datepicker2">시작일</label> <input type="text"
										name="projectStart" class="form-control datetimepicker-input"
										id="datepicker2" data-toggle="datetimepicker"
										data-target="#datepicker2" th:value="${resultProject.projectStart}">
								</div>
								<div class="form-group">
									<label for="datepicker3">마감일</label> <input type="text"
										name="projectDeadline"
										class="form-control datetimepicker-input" id="datepicker3"
										data-toggle="datetimepicker" data-target="#datepicker3" th:value="${resultProject.projectDeadline}">
								</div>
								<div class="form-group">
									<label for="datepicker4">실제 완료일</label> <input type="text"
										name="projectEnd" class="form-control datetimepicker-input"
										id="datepicker4" data-toggle="datetimepicker"
										data-target="#datepicker4" th:value="${resultProject.projectEnd}">
								</div>
								<div class="form-group">
									<label>프로젝트 멤버(선택사항)</label>
									<div>
										<form class="sample-form">
											<div class="add-btn-wrap">
												<img class="member-update-btn"
													src="/img/project/member_plus_btn.png">
											</div>
											<div class="update-member-select form-group">
												<select class="form-control select2" id="update-select2"
													multiple="multiple">
													<option value="김연지" selected>김연지</option>
													<option value="김건훈">김건훈</option>
													<option value="김정훈">김정훈</option>
													<option value="이원준">이원준</option>
													<option value="김연지">김영훈</option>
													<option value="김건훈">김곤지</option>
													<option value="김정훈">김상훈</option>
													<option value="이원준">이원영</option>
												</select>
											</div>
										</form>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
					<th:block th:unless="${resultProject.projectCode} eq 'PR001' or ${resultProject.projectCode} eq 'PR002' or ${resultProject.projectCode} eq 'PR003' or ${resultProject.projectCode} eq 'PR004' or ${resultProject.projectCode} eq 'PR005' or ${resultProject.projectCode} eq 'PR006' or ${resultProject.projectCode} eq 'PR007'">
					<button type="button" class="btn btn-primary">수정</button>
					<button type="button" class="btn btn-danger project-delete-btn">삭제</button>
					</th:block>
				</div>
			</div>
		</div>
	</div>










